Body {
  background-size: 100%;
  margin: 0px;
  height: 3000px;
}

#IndexBody {
  background-image: url(../Resources/jdilla-working.jpg);
}

#DownloadBody{
  background-image: url(../Resources/PeteRock2.webp);
}

#SupportBody{
  background-image: url(../Resources/GangStarr.webp);
}

#InfoBody{
  background-image: url(../Resources/q-tip.jpg);
  
}


.vinyl_pic{
  
  width: 13%;
  display: flex;
  float: right;
  opacity: 0;
  position: fixed;
  left:  87%;
  top: 2%;

}


#test{
  background-color: transparent;
}

.downloadButton{
  padding-left: 35%;
  padding-top: 15%;
  width:30%;
}

.patreonButton{
  padding-left: 35%;
  padding-top: 15%;
  width:15%;
  
}


.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Zululogo{
  display: block;
  margin: auto;
}

.textBox{
  color: #FFAB00;
  text-align: center;
  font-weight: bold;
  font-size:xx-large;
  padding: 7%;
  padding-top: 0%;
  text-shadow: -1px 1px 0 #000, 
  1px 1px 0 #000, 
 1px -1px 0 #000, 
-1px -1px 0 #000; ;;
}

.textBox1{
  color: #FFAB00;
  text-align: center;
  font-weight: bold;
  font-size:x-large;
  padding: 7%;
  padding-top: 0%;
  text-shadow: -1px 1px 0 #000, 
  1px 1px 0 #000, 
 1px -1px 0 #000, 
-1px -1px 0 #000; ;;
}

.topnav {   
    overflow: hidden;
    background-image: url(../Resources/red-brick-wall.jpg);
    display: flex;
    flex: 1;
    margin: 0px;
    height: 12vh;
    position: relative;
    flex-direction: row;
  }

  .Info{
    height: 6vw;
    display: flex;
  }

  .topnav a {

  display: block;
  color: #000000;
  padding: 20px;
  text-decoration: none;  
  
}


.topnav a:hover {
  background-color: #FFAB00;
  color: rgb(0, 0, 0);
}

ul{
    list-style-type: none;
    padding:20px;
    position: fixed;
    
  }

  .NavBlock{
    height: 6vw;
    display: flex;
  }


@media (max-width: 600px) {
  .topnav {
    flex-direction: column;
    height: 225px;
  }

  
  .NavBlock{
    width: 45%;
    height: 100%;
    display: flex;
  }

  .topnav a{
    padding: 0%;
  }

  .Info{
    height: 7vh;
  }
}

@media (max-height: 500px) {
  .topnav {
    flex-direction: row;
    
  }
  .NavBlock {
    height : 2vw;
    display: flex;
  }
  
}

@media (min-width: 1350px) {
.NavBlock {
  height: 5.5vw;
}

}